<%- include header %>
<ul style="list-style: none">
    <li><h3><a href="http://xiaoyu7.cn"><img class="imgLink" src="/images/github.png"/></a></h3></li>
    <li><h3><a href="http://weibo.com/u/5335837868"><img class="imgLink" src="/images/weibo.png"/></a></h3></li>
</ul>
<%- include footer %>