*{
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
    font-size: 62.5%;
    font-family: "Microsoft YaHei";
    background: #fffefe;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	line-height: 24px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	outline: none;
}

input,textarea {
	outline: none;
}

input {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

ul ,li{
    list-style: none;
}

.clear{
    zoom: 1;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.wrap {
    width: 1200px;
    margin: 2em auto;
    padding: 0 2em;

}

header {
	padding: .5em 0;
	border-bottom: 1px solid #ccc;
	color: #333;
    width: 960px;
    margin: 0 auto;
    font-weight: 200;
}

nav {
	float: left;
	text-transform: uppercase;
	width: 100px;
    min-height: 100px;
	text-align: center;
    border: 1px solid #eee;
    background: #f3f3f3;
}

nav a {
	display: block;
	padding: 1em;
    font-size: 14px;
    color: #222;
    border-bottom: 1px solid #fff;
}

nav span:last-of-type a {
    border-bottom: none;
}

nav a:hover {
	background-color: #7F929C;
	color: #f9f9f9;
    border-left: 5px solid #ed9c28;
	transition: color .2s linear;
}

article {
	font-size: 16px;
	margin-top: 15px;
    padding: 15px;
    width: 930px;
    margin-left: 120px;
    border: 1px solid #ddd;
    min-height: 600px;
}

article a{
	color: #dd0000;
	text-decoration: none;
}

article a:hover {
	color: #333;
	text-decoration: underline;
}
.article-detail {
    padding: 0 15px;
}

.section {
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.section h2{
    background: #f5f5f5;
    border-left: 5px solid #ed9c28;
    padding-left: 15px;
}
.section p {
    padding-left: 15px;
}
.section p:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}

.msg {

}

.info {
	font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
}

p span:first-of-type .edit{
    margin-left: -5px;
}

.edit {
	margin: 3px 5px;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: #f3f3f3;
	color: #333;
	font-size: 14px;
}

.edit:hover {
	text-decoration: none;
	background-color: #7F929C;
	color: #fff;
	transition: color .2s linear;
	-webkit-transition: color .2s linear;
}

/* 分页 */
.prePage a, .nextPage a {
    padding: .5em 1em;
    color: #fff000;
    font-weight: bold;
}

.prePage a:hover, .nextPage a:hover {
    text-decoration: none;
    background-color: #ff0000;
    color: #f9f9f9;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
}
.prePage a {
	float: left;
}

.nextPage a {
    float: right;
}

/* 存档 */
.archive {
    line-height: 28px;
}

.archive h3 {
    margin: 0.5em 0;
}

.archive time {
    float: left;
    font-size: 14px;
    color: #999;
    margin-right: 1.2em;
}

/* 标签 */
.tag {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #F3F3F3;
    font-size: 14px;
    color: #000;
}

.tag:hover {
    text-decoration: none;
    background-color: #7F929C;
    color: #fff;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
}

.search {
	border: 0;
	width: 6em;
	text-align: center;
	font-size: 1em;
	margin: 0.5em 0;
}

.l_head {
	float: left;
	margin-left: -4em;
	box-shadow: 0 1px 4px #888;
}

.r_head {
	float: right;
    margin-top: -2px;
    box-shadow: 0 1px 4px #888;
}

.imgLink {
    width: 928px;
    height: 300px;
    border: 1px solid #FFFEFE;
}

.imgLink:hover {
    border: 1px solid #ed9c28;
}

.form-info {
    display: inline-block;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 10px;
    width: 300px;
    text-align: right;
}

.form-control{
    margin-left: 20px;
}

.form-control input:hover {
    background: #7F929C;
    color: #fff;
}
